/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */
a, a:hover {
  color: #007b32;
  text-decoration: none;
}

body {
    margin-top: 100px;
}
select.form-control,
input.form-control {
    max-width: 250px;
}
input[type="checkbox"].form-control {
  width: auto;
  margin-top: 10px;
  height: auto;
}
.address-field input {
    width: 100%;
    max-width: 390px;
}
.customer-form #transaction_date {
  position: relative;
}
#wrapper.homepage {
    background: #fff;
}

.cta-link {
    display: block;
    text-align: right;
    position: absolute;
    right: 15px;
    margin-top: -50px;    
}

.cta-link-right {
    display: block;
    text-align: right;
    right: 15px;
    margin-bottom: 10px;   
}

.form-horizontal .control-label {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
}

.data-full-info .col-md-6 {
    min-height: 31px;
}
.data-full-info label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    max-width: 150px;
    margin-right: 10px;
    font-size: 13px;
    float: left;
}

.tab-content {
    padding-top: 20px;
}

.table-cta-data {
    width: auto;
    text-align: right;
}

.table-cta-data a,
.table-cta-data form {
    display: inline-block;
    margin-left: 5px;
}

.table-cta-data form {
    float: right;
}


.table-edit-cta {
    padding: 3px 5px;
    font-weight: 300;
    border: none;
    background: #fff;
    color: #007b32;
    line-height: 100%;
    border-radius: 4px;
}

.table-delete-cta {
    padding: 3px 5px;
    font-weight: 300;
    border: none;
    background: #fff;
    color: #d9534f;
    line-height: 100%;
}

#reports-table_wrapper .row {
    margin-top: 20px;
    marign-bottom: 20px;
}

.alert-success {
    font-style: italic;
}

.form-group input[type=checkbox] {
    margin-right: 10px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
        background: #333;
    }

    #page-wrapper {
        padding: 10px;
        border-left: 1px solid #eee;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #006228;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-brand img {
    width: 70px;
}

/* Side Navigation */

.side-nav li ul {
    display: none;
}
.side-nav > li {
  border-bottom: 1px solid #292929;
  width: 100%;
}
.side-nav > li > li {
  border: none;
}
.side-nav li.active ul {
    display: block;
}
.side-nav > li > a.drop-down-cta {
  width: 30px;
  padding: 8px 8px 5px 8px;
  display: inline-block;
  background: #292929 !important;
  border-radius: 50%;
  text-align: center;
  margin: 0;
  line-height: 100%;
  font-weight: normal;
  height: auto;
  float: right;
  margin-top: 10px;
  margin-right: 7px;
}
.navbar-inverse {
    background: #007b32;
    border-color: #007b32;
}
.side-nav > li > ul > li.active > a,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background: none;
    color: #fff;
}
.side-nav li > a {
  display: inline-block;
  max-width: 145px;
  float: left;
  padding-right: 0;
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 70px;
        left: 200px;
        width: 250px;
        margin-left: -200px;
        border-radius: 0;
        overflow-y: auto;
        background: none;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        background: #333;
    }

    .side-nav>li>a {
        width: 200px;
        font-size: 16px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000;
        color: #007b32;
    }
    .navbar-inverse
    .navbar-nav>li>a:focus,
    .navbar-inverse .navbar-nav>li>a:hover {
        color: #fff;
    }

    .navbar-nav>li>a
    {
        padding-bottom: 5px;
    }
}

.side-nav>li>ul {
    padding: 0;
    clear: both;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 5px 15px 5px 38px;
    text-decoration: none;
    color: #999;
    float: none;
    max-width: 100%;    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
    background: none;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

/* Custom */

.page-header {
    margin: 22px 0 20px;
    font-size: 25px;
    color: #007b32;
    text-transform: capitalize;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ccffe0;  
}

.homepage#wrapper {
    padding-left: 0;
}

.homepage .login-wrapper {
    margin: 0 auto;
    display: block;
    float: none;
}

.login-wrapper img {
    width: 100%;
    margin-bottom: 30px;
}

.login-wrapper #btn-login {
    background: #007b32;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
}

#login-form {
    max-width: 250px;
    width: 100%;
    margin: 15px auto;
    text-align: center;
}

#login-form.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.homepage {
    overflow: hidden;
    padding-left: 0;
}

#notifications {
    background: #fff;
}

#notifications .list-group .list-group-item {
    height: 55px;
}

#reports-table th:last-child {
    display: none;
}

table th {
    font-size: 11px;
    text-transform: uppercase;
}

#notifications .list-group .done {
    background: #dadada !important;
}

#navigation .side-nav span {
    width: 30px !important;
}

#navigation .side-nav li a
{
    font-size: 13px !important;
}

table.transactions-table td:nth-child(2) {
    width: 23%;
}
table.notification-pending-table td:nth-child(2) {
    width: 23%;
}
table.notification-pending-table td.table-cta-data {
    width: 8%;
}

/* Reports Page */
.report-list-filter {
  margin-bottom: 25px;
}
.report-list-filter label.control-label {
    font-size: 13px;
    font-weight: 300;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.report-list-filter .form-group {
    margin-right: 5px;
}
.report-list-filter button {
    margin-top: 25px;
}

/* Transaction page */
.transaction-products {
    clear: both;
    display: block;
    padding-top: 15px;
}
.transaction-products h4 {
     margin-bottom: 15px;
     text-align: center;
}
.transaction-form-cta {
     margin-top: 34px;
}
.transaction-form-cta .col-md-6 {
     padding-left: 0;
     padding-right: 0
}
.transaction-products textarea,
.transaction-services textarea {
     height: 34px;
}
.product-row div {
    margin-bottom: 10px;
}
#transactions-table_wrapper .dataTables_length {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 3px;
}

/* Export buttons vs Entries */
#reports-table_wrapper .dataTables_length
{
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 3px;
}

/* Notiification pages */
.notifications table {
    margin-top: 20px;
}
.mark-cta {
    background: #eee;
    color: #333;
}
.cta-column {
    text-align: right;
    width: 5%;
}
.notification-date {
  width: 5%;
}
.customer-name {
  width: 90%;
}
.customer-contact {
  width: 15%;
}
.mark-cta:hover {
    background: #007b32;
    color: #fff;
}
table td.customer-date {
    width: 10%;
}
table td.customer-name {
    width: 15%;
}
.notifications .dataTables_length {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 3px;
}

/* Product Order page */

.product-order-detail.transaction-products {
    margin: 25px 0;
}

.product-order-detail .transaction-form-cta {
    margin-top: 24px;
}

.product-order-detail-row {
    margin-bottom: 25px;
    overflow: hidden;
}

.product-order-cta {
    margin-top: 45px;
}

#vehicles-table_filter
{
    float: right;
    margin-right: 55px;
}

#vehicles-table_length label
{
    margin-left: 55px;
}

#customer-transaction-table_filter
{
    float: right;
    margin-right: 55px;
}

#customer-transaction-table_length label
{
    margin-left: 55px;
}

/* print */
.extreme-printinfo
{
    margin: 0 auto;
    text-align: center;
}

.extreme-printinfo img
{
    width: 10%;
}

.extreme-printinfo p.no-margin
{
    margin: 0px;
}